:root, .App {
  align-items: center;
  background-color: #141519;
  color: #fff;
  display: flex;
  font-family: 'Overpass', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
body {
  height: 100vh;
  width: 100%;
}
button{
  cursor: pointer;
}